
<div class="panel panel-group">

  <div class="panel-default"> 
	  <div class = "container">
		
			<div class = "row">
				   <table >
						<tbody>
							  <tr class = "row" >
							
								 <th class = "col-md-4">Tweets</th> 
								 <th class = "col-md-4">Followers</th>
								 <th class = "col-md-4">Following</th>
							  </tr>
							   <tr class = "row" >
								  <td class = "col-md-4" align="center" >{{tweets.length}}</td>
								  <td class = "col-md-4" align="center"> {{tweets[0].user.numOfFollowers}}</td>
								  <td class = "col-md-4"  align="center">{{tweets[0].user.numOfFollowingUsers}}</td>
							  </tr>
						</tbody>
					  </table>
				</div>
			</div>
	   </div>
</div> 